{{ define "main" }}
  <h2 class="title is-2">{{ .Params.title }}</h2>
  <hr/>

  <div class="content">
    {{ .Content }}
  </div>

  {{ if not .Params.disableTableOfContents }}
    <hr/>

    <div class="columns">
      <div class="column">
        <h4 class="title is-4">Table of Contents</h4>

        <div class="content">
          <ul>
          {{ range .Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          </ul>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
