<div>
  <hr/>
  <br/>

  <div class="columns">
    <div class="column is-3 is-flex license-logos">
      <img class="mr-2" src="img/eu_logo.jpg" />
    </div>

    <div class="column is-9">
      <em>
        This project has received funding from the Horizon Europe programme under
        the Grant Agreement 101070109. Views and opinions expressed are however
        those of the author(s) only and do not necessarily reflect those of the
        European Union or European Commission. Neither the European Union nor
        the European Commission can be held responsible for them.
      </em>
    </div>
  </div>
</div>
