{{ $page := trim .Page.RelPermalink "/" }}

{{ $understandingSubpages := slice "newsroom-toolbox" "video-analysis-service" "video-summarization" "volumetric-video-analysis-and-summarization" }}
{{ $creationSubpages := slice "volumetric-content-toolbox" "volcap" "template-based-authoring" "vr2gather" "sensexr" }}
{{ $immersiveSubpages := slice "spatial-media-server" "spatial-media-presenter" "spatial-media-video-source" "spatial-media-director" "spatial-media-user" }}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ absURL "/" }}">
      <img src="{{ absURL "img/transmixr.png" }}">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item {{ if eq $page "" }}is-active{{ end }}" href="{{ absURL "/" }}">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/media-understanding" class="navbar-link {{ if in $understandingSubpages $page }}is-active{{ end }}">
          Media Understanding &amp; Selection
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ absURL "/newsroom-toolbox" }}">
            Newsroom Toolbox
          </a>
          <a class="navbar-item" href="{{ absURL "/video-analysis-service" }}">
            Video Analysis Service
          </a>
          <a class="navbar-item" href="{{ absURL "/video-summarization" }}">
            Video Summarization
          </a>
          <a class="navbar-item" href="{{ absURL "/volumetric-video-analysis-and-summarization" }}">
            Volumetric Video Analysis and Summarization
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/creation" class="navbar-link {{ if in $creationSubpages $page }}is-active{{ end }}">
          Creation
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ absURL "/volumetric-content-toolbox" }}">
            Volumetric Content Toolbox
          </a>
          <a class="navbar-item" href="{{ absURL "/volcap" }}">
            Volcap
          </a>
          <a class="navbar-item" href="{{ absURL "/template-based-authoring" }}">
            Template-based Authoring
          </a>
          <a class="navbar-item" href="{{ absURL "/vr2gather" }}">
            VR2Gather
          </a>
          <a class="navbar-item" href="{{ absURL "/sensexr" }}">
            SenseXR
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a href="/immersive-experiences" class="navbar-link {{ if in $immersiveSubpages $page }}is-active{{ end }}">
          Immersive Experiences
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ absURL "/spatial-media-server" }}">
            Spatial Media Server
          </a>
          <a class="navbar-item" href="{{ absURL "/spatial-media-presenter" }}">
            Spatial Media Presenter
          </a>
          <a class="navbar-item" href="{{ absURL "/spatial-media-video-source" }}">
            Spatial Media Video Source
          </a>
          <a class="navbar-item" href="{{ absURL "/spatial-media-director" }}">
            Spatial Media Director
          </a>
          <a class="navbar-item" href="{{ absURL "/spatial-media-user" }}">
            Spatial Media User
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
