{{ $currentPage := . }}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ absURL "/" }}">
      <img src="{{ absURL "img/transmixr.png" }}">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item {{ if .IsHome }}is-active{{ end }}" href="{{ absURL "/" }}">
        Home
      </a>

      {{ range .Site.Sections.ByWeight }}
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="{{ .Permalink }}" class="navbar-link {{ if eq . $currentPage }}is-active{{ end }}">
            {{ .Title }}
          </a>

          <div class="navbar-dropdown">
            {{ range .RegularPages.ByWeight }}
              <a class="navbar-item {{ if .Params.indent }}ml-4{{end}} {{ if eq . $currentPage }}is-active{{ end }}" href="{{ .Permalink }}">
                {{ .Title }}
              </a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</nav>
